.Game{
    padding: 10px;
    text-align: center;
}
.optionbox {
    display: flex;
    flex-direction: column; /* Aligns children (buttons) vertically */
    align-items: center;    /* Centers children horizontally in the flex container */
    justify-content: center; /* Centers children vertically if there's extra space */
    width: 100%;            /* Takes full width of the parent element, adjust as necessary */
  }
  
.options{
    display: block;       /* Makes each button a block element, forcing a line break after each */
    margin: 10px 0;       /* Adds some vertical spacing between buttons */
    width: 100%;   /* Optional: makes the button width fit its content */
    border-radius: 10px;
    padding: 5px 10px;    /* Optional: adds padding inside the button */
    box-shadow: -2px 2px 2px 0px grey;
}
.nextButton{
    background-color: antiquewhite;
}

.correct-answer {
    color: green;
  }
  
  .wrong-answer {
    color: red;
  }
  
  .finalScore{
    font-size: 30px;
  }

  @keyframes sparkle {
    from {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    to {
      transform: translateY(500px) rotate(360deg);
      opacity: 0;
    }
  }
  
  .celebration {
    width: 400px;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    pointer-events: none;
    overflow: hidden;
    z-index: 1000;
  }
  
  .confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--color);
    top: -10px;
  }